@model MyMovieShopAdmin.Models.ViewModels.SearchIndexViewModel

<div class="container" style="margin:10px">
    <div class="row">
        <div id="filter-panel" class="collapse filter-panel">
            <div class="panel panel-default">
                <div class="panel-body" style="background-color:#808080">
                    <form class="form-inline" role="form" action="~/Search/AdvancedSearch" method="post">
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Rows per page:</label>
                            <select id="pref-perpage" class="form-control" name="ItemsPerPage">
                                <option value="2" @(Model.LastSelectedMoviesPerPage == 2 ? "selected" : "")>2</option>
                                <option value="3" @(Model.LastSelectedMoviesPerPage == 3 ? "selected" : "")>3</option>
                                <option value="4" @(Model.LastSelectedMoviesPerPage == 4 ? "selected" : "")>4</option>
                                <option value="5" @(Model.LastSelectedMoviesPerPage == 5 ? "selected" : "")>5</option>
                                <option value="6" @(Model.LastSelectedMoviesPerPage == 6 ? "selected" : "")>6</option>
                                <option value="7" @(Model.LastSelectedMoviesPerPage == 7 ? "selected" : "")>7</option>
                                <option value="8" @(Model.LastSelectedMoviesPerPage == 8 ? "selected" : "")>8</option>
                                <option value="9" @(Model.LastSelectedMoviesPerPage == 9 ? "selected" : "")>9</option>
                                <option value="10" @(Model.LastSelectedMoviesPerPage == 10 ? "selected" : "")>10</option>
                                <option value="15" @(Model.LastSelectedMoviesPerPage == 15 ? "selected" : "")>15</option>
                                <option value="20" @(Model.LastSelectedMoviesPerPage == 20 ? "selected" : "")>20</option>
                                <option value="30" @(Model.LastSelectedMoviesPerPage == 30 ? "selected" : "")>30</option>
                                <option value="40" @(Model.LastSelectedMoviesPerPage == 40 ? "selected" : "")>40</option>
                                <option value="50" @(Model.LastSelectedMoviesPerPage == 50 ? "selected" : "")>50</option>
                                <option value="100" @(Model.LastSelectedMoviesPerPage == 100 ? "selected" : "")>100</option>
                            </select>
                        </div> <!-- form group [rows] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-search">Search:</label>
                            <input type="text" class="form-control input-sm" id="pref-search" name="searchQuery">
                        </div><!-- form group [search] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-orderby">Order by:</label>
                            <select id="pref-orderby" class="form-control" name="orderby">
                                <option @(Model.LastSelectedOrderBy == "Descending" ? "selected" : "")>Descending</option>
                                <option @(Model.LastSelectedOrderBy == "Ascending" ? "selected" : "")>Ascending</option>
                            </select>
                        </div> <!-- form group [order by] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-genre">Genre:</label>
                            <select id="pref-genre" class="form-control" name="genre">
                                <option @(Model.LastSelectedGenre == "All" ? "selected" : "")>All</option>
                                <option @(Model.LastSelectedGenre == "Adventure" ? "selected" : "")>Adventure</option>
                                <option @(Model.LastSelectedGenre == "Action" ? "selected" : "")>Action</option>
                                <option @(Model.LastSelectedGenre == "Anime" ? "selected" : "")>Anime</option>
                                <option @(Model.LastSelectedGenre == "Horror" ? "selected" : "")>Horror</option>
                                <option @(Model.LastSelectedGenre == "Comedy" ? "selected" : "")>Comedy</option>
                                <option @(Model.LastSelectedGenre == "Thriller" ? "selected" : "")>Thriller</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top:25px; margin-left:20px">
                            <button type="submit" class="btn btn-default filter-col" value="Click">                        
                                <span class="glyphicon glyphicon-record"></span> Save Settings
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
            <span class="glyphicon glyphicon-cog"></span> Advanced Search
        </button>
    </div>
</div>



@if (Model.Movies.Count == 0)
{
    <p>The search query didnt match any criteria of yourses</p>
}
else
{
    <table class="table">
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td class="whattocall"><b style="font-size:40px">@movie.Title</b>
                <br /> Genre: @foreach (var genre in movie.Genres)
                {
                    @genre.Name <div style="display:inline-block">&nbsp;</div>
                }
                 <br />
                Price: @movie.Price<br /> Year: @movie.Year</td>
                <td><a href="~/Movie/Index/@movie.Id"><div class="grow now" style="height:200px; width:150px"><img src="@movie.ImageUrl" height="200" width="150" /></div></a></td>
                <td><a href="~/Movie/Added/@movie.Id" class="btn btn-success" style="width:150px; margin: 60px 40px 20px 80px"> Add to cart </a></td>
            </tr>
        }
    </table>
}
<div class="myPagination">
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li>
                    <a href="~/Search/Index">First</a>
                </li>
                <li>
                    <a href="~/Search/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                    <a href="~/Search/Index?page=@page">@page</a>
                </li>    }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    <a href="~/Search/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                </li>
                <li>
                    <a href="~/Search/Index?page=@(Model.Pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>

<style>
    .whattocall {
        color: #ffd800;
        font-size: 20px;
    }

    .grow img {
        /*-webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;*/
    }

        .grow img:hover {
            /*width: 130%;
            height: 130%;*/
            transform: scale(1.1, 1.1);
            box-shadow: 3px 3px 3px #b6ff00;
            position: relative;
            z-index: 9999 !important;
        }

    .filter-col {
        padding-left: 10px;
        padding-right: 10px;
 }
        .myPagination
    {
           width: 200px;
            display: block;
             margin-left: auto;
              margin-right: auto;
              
    }
        .myPagination ul li a
    {
           /*could modify the look and feel*/
              
    }

   
</style>
<script>





</script>